<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
   <div class="shop-container">
  <% products.forEach(product => { %>
    <div class="product-box">
    <img src="data:image/jpeg;base64,<%= Buffer.from(product.image).toString('base64') %>" alt="<%= product.name %>">

      <strong><%= product.name %></strong>
      <span class="quantity">Stock: <%= product.stock %></span>
      <span class="price">Rs. <%= product.price %></span>

      <!-- Add to Cart button -->
      <button class="cart-btn">
        <i class="fas fa-shopping-bag"></i> Add to Cart
      </button>

      <!-- Like button -->
      <a class="like-btn">
        <i class="far fa-heart"></i>
      </a>
    </div>
  <% }); %>
</div>


</body>
</html>